extends template

block actions
 
  .row
    .col.m6
      form(action="/webpay_plus/status", method="post")
        input(type="hidden" value=viewData.token, name="token")
        button(type="submit").btn.waves-effect.waves-light.pink.white-text Consultar Estado
    .col.m6
      form(action="/webpay_plus/refund", method="post")
        button.btn.waves-effect.waves-light.pink.white-text(href="/webpay_plus/refund", type="submit") Reembolsar
        input(type="hidden" value=viewData.token, name="token")
        .input-field(style="margin-top: 25px")
          input(type="number", name="amount", value=viewData.commitResponse.amount)
          label(for="amount") Monto a reembolsar: