extends ../layout
block content
  .row
    .col.m12.center-align
      img(src='/images/wpplus.png', height=100)
  block step
  block actions
  .row(style="margin-top: 80px")
    .col.m4
      a.btn.waves-effect.waves-dark.white.black-text(href="/api/error.html") Volver al inicio..